<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gacha4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="Gacha 4"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SDS_Summon_History"></activity>
        <activity android:name=".SDS_Summon" />
        <activity
            android:name=".DBLViewHolderLayout"
            android:label="@string/title_activity_d_b_l_view_holder_layout" />
        <activity
            android:name=".DBL_Summon_History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DBL_Summon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewHolderLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dokkan_Summon_History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dokkan_Summon"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>